@page
@model BpaReserve.Pages.RestReserveEdit2Model
@{
    ViewData["Title"] = "Reserve Restaurant";
}

<h1>@ViewBag.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>@ViewBag.RestaurantName</h4>
        <img class="card-img-top" src="@ViewBag.RestaurantImageUrl" alt="Card image cap">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="restaurant_reservation.NewUserID" class="form-control" value="@ViewBag.UserID" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="restaurant_reservation.RestaurantID" class="form-control" value="@ViewBag.RestaurantID" />
            </div>
            <div class="form-group">
                <label asp-for="restaurant_reservation.DateAndTime" class="control-label"></label>
                <input asp-for="restaurant_reservation.DateAndTime" class="form-control" />
                <span asp-validation-for="restaurant_reservation.DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group text-danger">
                @ViewBag.DisplayError
            </div>
            <div class="form-group">
                <input type="submit" value="Reserve Restaurant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

