@page
@model BpaReserve.Pages.ResturantCardModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="resturant-body">

    <div class="container">
        <div class="row">


            @foreach (var item in Model.Restaurant)
            {
                @ViewBag.currentUserID
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">

                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.RestaurantImageUrl)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.RestaurantName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            <a class="btn btn-primary" asp-route-RestaurantId="@item.RestaurantID" asp-route-UserId="@ViewBag.currentUserID" asp-area="" asp-page="/reservesection">Reserve</a>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>

