@page
@model BpaReserve.Pages.RestReserve.IndexReportModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.restaurant_reservation[0].Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restaurant_reservation[0].DateAndTime)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.restaurant_reservation)
        {
        <tr>
            <td>
                <img class="img-thumbnail img-responsive" style="width: 200px; height: 100px; object-fit: cover;" src="@Html.DisplayFor(modelItem => item.Restaurant.RestaurantImageUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>

    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideReservation[0].Ride)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideReservation[0].DateAndTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RideReservation)
        {
        <tr>
            <td>
                <img class="img-thumbnail img-responsive" style="width: 200px; height: 100px; object-fit: cover;" src="@Html.DisplayFor(modelItem => item.Ride.RideImageUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.RideName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>

        </tr>
        }
    </tbody>
</table>
